* {
    margin-left: 0; 
}

body {
	background-color: white;
	margin-left: 0px;
	margin-right: 5px;
}

.navigation_bar {
	background-color: gray;
	display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

.navigation_bar span {
	display: table-cell;
    text-align: center;
}

.navigation_bar a {
	font-family: sans-serif;
	color: white;
	text-decoration: none;
}

.tab_selected {
	color: black !important;
}


.equal_cols {
	display: table;
    width: 100%;
    table-layout: fixed;
}

.equal_cols span {
	display: table-cell;
    text-align: center;
}


.float_box1 {
  float: left;
  width: 20%;
  padding: 5vw 5vw 5vw 5vw;
  margin: 1vw;
}


.float_box {
  float: left;
  width: 45%;
  padding: 8px;
}

.float_box_cols::after {
  content: "";
  clear: both;
  display: table;
}
/** for clear fix **/

div.float_box1 p {
	font-size: 3vw;
	font-family: sans-serif;
	color: white;
}


.language_select {
	text-decoration: none;
}

h1 {
	font-size: 24px;
}

.project_h1 {
	padding-top: 5vw;
}

h2 {
	font-size: 16px;
}

p {
	font-size: 14px;
}

ul {
	font-size: 14px;
}

.section {
	margin: 8px;
}

.foot {
	margin: 8px;
}