body {
	background-color: black;
}

.openning_line {
	color: white;
	font-size: 4vw;
	text-align: center;
	padding: 15vh 10vw 1vh 10vw;
	font-family: Arial
}

.openning_source {
	color: white;
	font-size: 2vw;
	text-align: center;
}